.title {
    font-family: Verdana, Arial Black,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-weight: 600;
    font-size: 2.4em;
    margin: 0;
    text-shadow: 0.05em 0.05em 0.05em #c0c0c0;
}

    .title span {
        color: #f2eeee;
    }

a {
    color: #c0c0c0;
    text-decoration: none;
}

    a:hover {
        color: #000;
        text-decoration: none;
    }

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.scrollable-menu li{
    padding:5px 0px 5px 20px;
}
.scrollable-menu li:hover{
    background-color:#f5f5f5;
    cursor:pointer;
}
.padding-top {
    padding-top: 10px;
}

.panel-keyword .alert h2 {
    margin: 0;
}

.panel-keyword .well h3 {
    margin: 0;
}
